html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}
h1 {
    text-align: center;
}
#borderContainer {
    width: 100%;
    height: 100%;
}

.gadget {
    padding: 2em;
}

.smithyGadget {
    border-top: 1px lightgrey solid;
    padding: .5em;
    margin: 0px 0px -1px 0px;
    min-height: 50px;
    vertical-align: middle;
}

.searchText {
    background-color: lightgoldenrodyellow;
}
.gadgetSearch {
    padding: 1em;
}

.gadgetFeedHeader {
    
}

.gadgetFeedContainer {
    min-height: 250px !important;
    min-width: 500px;
    width: 50%;
}
.gadgetFeed {
    /*border-top: 1px lightgrey solid;*/
    display: inline-block;
    width: 100%;
}

.gadgetImg {
    border: none;
    padding: 0px .5em;
    float: left;
}

.stockLeftDiv {
    float: left;
    width: 50%;
}

.stockRightDiv {
    width: 50%;
}
.stockName {
    font-size: 1.5em;
    font-weight: 200;
}
